body{
    /* use all available height, no margin, unlike the defaults */
    height: 100%;
    margin: 0 0;
}

.centerDiv{
    /* center the box horizontally */
    margin: 0 auto;
    /* use most of the width, the rest is used for centering */
    width: 70%;
    /* stylish fat padding */
    padding: 1.5em;
    /* a bit of a yellowish color for the background + shadow */
    background-color: #FAFAF0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
